@import "tailwindcss";

/* I-import lang ang icons kay mao ra ni ang nahabilin sa resources */
@import "primeicons/primeicons.css";
/* src/styles.css */
@import "primeflex/primeflex.css";


body {
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif !important;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.p-component,
.p-inputtext,
.p-button,
.p-datatable {
    font-family: 'Poppins', sans-serif !important;
}

th {
    font-weight: 600 !important;
}

.card {
    background: white;
    border-radius: 12px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
}